{% extends 'index/base.html.twig' %}

{% block body %}
    {# WTFKKKKK SE REMOVER O INDEX NAO FUNCIONA #}
    {% include '/page/javascript.html' %}

      <div class="section-2-about">
         <div data-delay="5000" data-animation="slide" data-autoplay="1" data-duration="900" data-infinite="1" class="slider-about-us w-slider">
            <div class="w-slider-mask">
               <div class="slide-about w-slide"></div>
            </div>
            <div class="left-arrow-3 w-slider-arrow-left">
               <div class="w-icon-slider-left"></div>
            </div>
            <div class="right-arrow-3 w-slider-arrow-right">
               <div class="w-icon-slider-right"></div>
            </div>
            <div class="slide-nav-8 w-slider-nav w-round"></div>
         </div>

      <div class="topo-pag-tour w-clearfix">
         
         <a href="{{path('index')}}">
         {% set path = asset('/upload/gallery/')  %}
         <div class="logo-e-gradiente" style="background-image: url({{path}}{{company.getLogo}}), linear-gradient(180deg,  #1a1a1a, transparent)"></div>
         </a>
         <a href="{{path('index')}}"  class="link-block w-inline-block w-clearfix">
            <div class="div-block-27"></div>
            <div class="text-block-16">{% trans %}back_to_home{% endtrans %}</div>
         </a>
      </div>

      </div>
         {# <div class="free-transport-about"></div> #}
          </div>
      <div class="section-6">

         <div class="div-block-33">
            <div class="div-block-34">
                {# <div class="w3-padding book-now-novo">
                  <span onclick="getPrevPage()" class="text-block-8 btn-about-us">{% trans %}back_to_home{% endtrans %}</span>
               </div> #}
               <div class="text-block-21">{{company.name}}</div>
               <h5 class="heading-18">{{about.name}}</h5>
               <p id="aboutus-text" class="paragraph-15">
                  {{about.getRgpdHtml|raw}}
               </p>
               <!-- <h6 class="aboutus-subtitle">{% trans %}about_subtitle{% endtrans %}</h5>
               <p class="paragraph-15">{% trans %}future{% endtrans %} -->
               </p>
            </div>
         </div>
      </div>
      
         
          
         </div>
      </div>
      <div class="section-5">
         <div class="rodape-tour w-clearfix">
            {% set path = asset('/upload/gallery/')  %}
            <div class="logo-footer-sub" style="background-image: url({{path}}{{company.getLogo}} )"></div>
            <div class="div-block-28">
               {# <div class="text-block-17">* All programs are subject to change and / or cancellation under adverse weather conditions.</div> #}
            </div>
            <div class="div-block-29 w-clearfix">
               <div id="footer-fullyear" class="text-block-18">{{company.name }}</div>
            </div>
         </div>
      </div>

{% endblock %}

{% block javascripts %}
    <script crossorigin="anonymous" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="{{ asset('/js/webflow.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/js/main.js') }}" type="text/javascript"></script>
{% endblock %}

