{% extends 'index/base.html.twig' %}

{% block body %}
    {# WTFKKKKK SE REMOVER O INDEX NAO FUNCIONA #}
    {% include '/page/javascript.html' %}

    {#SLIDER________________________________________________________________________________________________________________________________________________________________#}
    <div class="section-2">
        <div class="slider-tour-2 w-slider" data-animation="slide" data-autoplay="1" data-delay="5000" data-duration="900" data-infinite="1">

            <div class="w-slider-mask">
                {%for images in products[0].image%}
                    <div class="slide_tour w-slide" style="background-image: url('{{images.images}}')"></div>
                {% endfor %}
            </div>

            <div class="left-arrow-3 w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="right-arrow-3 w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="slide-nav-7 w-slider-nav w-round"></div>
        </div>

        <div class="topo-pag-tour w-clearfix">
            <a href="{{path('index')}}">
                <div class="logo-e-gradiente"></div>
            </a>
            <a href="{{path('index')}}" class="link-block w-inline-block w-clearfix">
                <div class="div-block-27"></div>
                <div class="text-block-16">{% trans %}back_to_home{% endtrans %}</div>
            </a>
        </div>
        <div class="div-block-15 w-clearfix">
            <div class="free-transport"></div>
            <div class="div-block-16">
                {# <h2 class="heading-6">{{company.name}}
                    WATERSPORTS</h2> #}
                {% if products[0].title == true %}
                    <h1 class="heading-7">{{products[0].title}}</h1>
                {%endif %}

                {% if products[0].to_do == true %}
                    <p class="paragraph-8">{{products[0].to_do}}</p>
                {%endif %}
                <a href="{{url_api_key}}product?api_key={{exp_api_key}}&product={{products[0].id}}" target="_blank" class="boto-destaque-1 w-button">{% trans %}book_now{% endtrans %}</a>
            </div>
        </div>
    </div>

    {#PRICE________________________________________________________________________________________________________________________________________________________________#}
    <div class="section-price">
        <div class="section-price-layer">
            <div class="price-flex">
                <div class="div-block-20 w-clearfix">
                    <div class="price-tit w-clearfix">
                        <h3 class="heading-14">{% trans %}prices{% endtrans %}</h3>
                    </div>
                    {% if products[0].price == true %}
                        {%for prices in products[0].price%}
                            <a class="adulto-tour-1 w-inline-block w-clearfix" href="#">
                                {% set price = prices|length > 0 ? "%.2f"|format(prices.price.amount/100) : '-/-' %}
                                <h3 class="price-ad ">{{price}}
                                    {{prices.price.currency}}</h3>
                                <h3 class="heading-12">{{prices.name}}:</h3>
                            </a>
                        {% endfor %}
                    {%endif %}
                </div>
            </div>

        </div>
    </div>

    {#INFO________________________________________________________________________________________________________________________________________________________________#}
    <div class="section-3">
        <div class="div-block-22">
            {% if products[0].to_do == true %}
                <div class="dropdown w-dropdown" data-delay="0">
                    <div class="dropdown-toggle-2 w-dropdown-toggle">
                        <div class="div-block-23" data-ix="anim-plus-drop"></div>
                        <div class="text-block-15">{%trans%}to_do{%endtrans%}</div>
                    </div>
                    <nav class="dropdown-list-2 w-dropdown-list" data-ix="dropdown-highlights">
                        <div class="div-block-24">
                            <ul>
                                <li class="list-item">{{products[0].to_do}}</li>
                            </ul>
                        </div>
                    </nav>
                </div>
            {%endif %}
            {% if products[0].what_included == true %}
                <div class="dropdown w-dropdown" data-delay="0">
                    <div class="dropdown-toggle-2 w-dropdown-toggle">
                        <div class="div-block-23" data-ix="anim-plus-drop"></div>
                        <div class="text-block-15">{%trans%}what_included{%endtrans%}</div>
                    </div>
                    <nav class="dropdown-list-2 w-dropdown-list" data-ix="dropdown-highlights">
                        <div class="div-block-24">
                            <ul>
                                <li class="list-item">{{products[0].what_included}}</li>
                            </ul>
                        </div>
                    </nav>
                </div>
            {%endif %}
            {% if products[0].who_can_participate == true %}
                <div class="dropdown w-dropdown" data-delay="0">
                    <div class="dropdown-toggle-2 w-dropdown-toggle">
                        <div class="div-block-23" data-ix="anim-plus-drop"></div>
                        <div class="text-block-15">{%trans%}who_can_participate{%endtrans%}</div>
                    </div>
                    <nav class="dropdown-list-2 w-dropdown-list" data-ix="dropdown-highlights">
                        <div class="div-block-24">
                            <ul>
                                <li class="list-item">{{products[0].who_can_participate}}</li>
                            </ul>
                        </div>
                    </nav>
                </div>
            {%endif %}
            {% if products[0].comments == true %}
                <div class="dropdown w-dropdown" data-delay="0">
                    <div class="dropdown-toggle-2 w-dropdown-toggle">
                        <div class="div-block-23" data-ix="anim-plus-drop"></div>
                        <div class="text-block-15">{%trans%}comments{%endtrans%}</div>
                    </div>
                    <nav class="dropdown-list-2 w-dropdown-list" data-ix="dropdown-highlights">
                        <div class="div-block-24">
                            <ul>
                                <li class="list-item">{{products[0].comments}}</li>
                            </ul>
                        </div>
                    </nav>
                </div>
            {%endif %}
            {% if products[0].cancelation_policy == true %}
                <div class="dropdown w-dropdown" data-delay="0">
                    <div class="dropdown-toggle-2 w-dropdown-toggle">
                        <div class="div-block-23" data-ix="anim-plus-drop"></div>
                        <div class="text-block-15">{%trans%}cancelation_policy{%endtrans%}</div>
                    </div>
                    <nav class="dropdown-list-2 w-dropdown-list" data-ix="dropdown-highlights">
                        <div class="div-block-24">
                            <ul>
                                <li class="list-item">{{products[0].cancelation_policy}}</li>
                            </ul>
                        </div>
                    </nav>
                </div>
            {%endif %}
            {% if products[0].guest_requirements == true %}
                <div class="dropdown w-dropdown" data-delay="0">
                    <div class="dropdown-toggle-2 w-dropdown-toggle">
                        <div class="div-block-23" data-ix="anim-plus-drop"></div>
                        <div class="text-block-15">{%trans%}guest_requirements{%endtrans%}</div>
                    </div>
                    <nav class="dropdown-list-2 w-dropdown-list" data-ix="dropdown-highlights">
                        <div class="div-block-24">
                            <ul>
                                <li class="list-item">{{products[0].guest_requirements}}</li>
                            </ul>
                        </div>
                    </nav>
                </div>
            {%endif %}

            {% if products[0].group_size == true %}
                <div class="dropdown w-dropdown" data-delay="0">
                    <div class="dropdown-toggle-2 w-dropdown-toggle">
                        <div class="div-block-23" data-ix="anim-plus-drop"></div>
                        <div class="text-block-15">{%trans%}group_size{%endtrans%}</div>
                    </div>
                    <nav class="dropdown-list-2 w-dropdown-list" data-ix="dropdown-highlights">
                        <div class="div-block-24">
                            <ul>
                                <li class="list-item">{{products[0].group_size}}</li>
                            </ul>
                        </div>
                    </nav>
                </div>
            {%endif %}
            {% if products[0].group_discount == true %}
                <div class="dropdown w-dropdown" data-delay="0">
                    <div class="dropdown-toggle-2 w-dropdown-toggle">
                        <div class="div-block-23" data-ix="anim-plus-drop"></div>
                        <div class="text-block-15">{%trans%}group_discount{%endtrans%}</div>
                    </div>
                    <nav class="dropdown-list-2 w-dropdown-list" data-ix="dropdown-highlights">
                        <div class="div-block-24">
                            <ul>
                                <li class="list-item">
                                    >=
                                    {{products[0].group_discount[0].pax_greater_than}}
                                    People
                                    {{products[0].group_discount[0].discount * 100}}%</li>
                            </ul>
                        </div>
                    </nav>
                </div>
            {%endif %}

        </div>
    </div>

    {#LOCATION________________________________________________________________________________________________________________________________________________________________#}
    <div class="boarding-location w-clearfix">
        <div class="boarding-info">
            <h4 class="heading-16">{%trans%}where_going_to_be{%endtrans%}<br></h4>
            <h4 class="heading-15">{{products[0].local}}<br>
                <a href="https://www.google.com/maps/dir//{{products[0].gps_coords}}" target="_blank">GPS:
                    {{products[0].gps_coords}}</a>
                <br>
            </h4>
        </div>

    </div>
    <div class="section-5">
        <div class="rodape-tour w-clearfix">
            {% set path = asset('/upload/gallery/')  %}
            <div class="logo-rodape-pagetour" style="background-image: url({{path}}{{company.getLogo}} )"></div>
            <div
                class="div-block-28">{# <div class="text-block-17">{%trans%}subject_changes{%endtrans%}</div> #}
            </div>
            <div class="div-block-29 w-clearfix">
                <div class="text-block-18" id="footer-fullyear">{{company.name}}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script crossorigin="anonymous" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="{{ asset('/js/webflow.js') }}" type="text/javascript"></script>
    <script src="{{ asset('/js/main.js') }}" type="text/javascript"></script>
{% endblock %}
