
{% extends 'index/base.html.twig' %}

{% block body %}
    {# WTFKKKKK SE REMOVER O INDEX NAO FUNCIONA #}
    {% include '/page/javascript.html' %}

    {#SOCIAL MEDIA________________________________________________________________________________________________________________________________________________________________#}
    <div class="w3-overlay"></div>
    <div class="socialmedia-links" data-ix="social-interact">

        {%for icon in iconsFinder %}
            {% if company.linkFacebookActive == true %}
                <div class="facebook-link w-inline-block w-clearfix" onclick="openWindow('{{company.getLinkFacebook}}')">
                    <div data-facebook-icon="iconsFinder" class="fb-ico"></div>
                    <div class="in-txt">
                        <div class="text-block-13">facebook</div>
                    </div>
                </div>
            {%endif %}
        {% endfor %}


        {# {% if company.linkFacebookActive == true %}
            <div class="facebook-link w-inline-block w-clearfix" onclick="openWindow('{{company.getLinkFacebook}}')">
                <div class="fb-ico"></div>
                <div class="in-txt">
                    <div class="text-block-13">facebook</div>
                </div>
            </div>
        {%endif %}
        {% if company.linkTripadvisorActive  == true %}
            <div class="tripad-link w-inline-block w-clearfix" onclick="openWindow('{{company.getLinkTripAdvisor}}')">
                <div class="trip-ico"></div>
                <div class="in-txt">
                    <div class="text-block-13">tripadvisor</div>
                </div>
            </div>
        {%endif %}
        {% if company.linkTwitterActive  == true %}
            <div class="twitter-link w-inline-block w-clearfix" onclick="openWindow('{{company.getLinkTwitter}}')">
                <div class="twitter-ico"></div>
                <div class="in-txt">
                    <div class="text-block-13">twitter</div>
                </div>
            </div>
        {%endif %}
        {% if company.linkInstagramActive == true %}
            <div class="instagram-link w-inline-block w-clearfix" onclick="openWindow('{{company.getLinkInstagram}}')">
                <div class="int-ico"></div>
                <div class="in-txt">
                    <div class="text-block-13">instagram</div>
                </div>
            </div>
        {%endif %}
        {% if company.linkLinkenActive == true %}
            <div class="linked-in-link w-inline-block w-clearfix" onclick="openWindow('{{company.getLinkLinken}}')">
                <div class="linkedin-ico"></div>
                <div class="in-txt">
                    <div class="text-block-13">linkedin</div>
                </div>
            </div>
        {%endif %} #}


    </div>
    {#NAV AND SLIDER AND HIGHLIGHTS________________________________________________________________________________________________________________________________________________________________#}
    <div
        class="nauticDrive-1">

        {#nav________________________________________________________________________________________________________________________________________________________________#}
        <div class="navbar w-nav" data-animation="default" data-collapse="medium" data-duration="400">
            <div class="container-nav w-clearfix">

                {% if app.request.getLocale() == 'pt_PT' %}
                    <a href="{{path('translation',{lang:'en_EN',page:page}) }}" class="language w-inline-block">
                        <div class="text-block">EN</div>
                    </a>
                {% else %}
                    <a href="{{path('translation',{lang:'pt_PT',page:page}) }}" class="language w-inline-block">
                        <div class="text-block">PT</div>
                    </a>
                {% endif %}

                <a href="#" id="brand-logo" data-brand="{{ company.getLogo }}" class="brand w-nav-brand"></a>

                <nav class="nav-menu w-nav-menu" role="navigation">
                    <a class="nav-link w-nav-link" href="#nauticDrive-tours">{% trans %}tours{% endtrans %}</a>

                    <a class="nav-link w-nav-link" href="{{url_api_key}}shop?api_key={{exp_api_key}}&product=0" target="_blank">{% trans %}booking{% endtrans %}</a>

                    <a href="{{path('about_us')}}" class="nav-link w-nav-link">{% trans %}future{% endtrans %}</a>

                    <a class="nav-link w-nav-link" href="#contact">{% trans %}contact{% endtrans %}</a>
                </nav>

                <div class="menu-button w-nav-button">
                    <div class="icon w-icon-nav-menu"></div>
                </div>
            </div>
        </div>

        {#slider________________________________________________________________________________________________________________________________________________________________#}
        <div class="slider-nauticDrive-inicio w-slider" data-animation="over" data-autoplay-limit="29000" data-autoplay="1" data-delay="10000" data-duration="1000" data-infinite="1">

            <div class="w-slider-mask">


                <div
                    class="slide-2 w-slide">
                    {# background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .57)), color-stop(33%, transparent)), url('../images/jet-ski-1125329_1920.jpg');
                      background-image: linear-gradient(180deg, rgba(0, 0, 0, .57), transparent 33%), url('../images/jet-ski-1125329_1920.jpg'); #}
                    <div class="div-block-5 w-clearfix">
                        <div class="free-transport-ini-pt"></div>
                        <div class="destaque-slogan-seas1">{# <h3 class="heading-6">{% trans %}h3_1_head{%endtrans%}</h3>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <h3 class="heading-7">{% trans %}h3_1_sub_head{%endtrans%}</h3>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <p class="paragraph-5">{% trans %}h3_1_txt{%endtrans%}</p> #}
                            {# <a href="" target="_blank" class="boto-destaque-1 w-button">{% trans %}book_now{%endtrans%}</a> #}
                        </div>
                    </div>
                </div>


                <div class="slide-topo-3 w-slide">
                    <div class="div-block-5 w-clearfix">
                        <div class="free-transport-ini-pt"></div>
                        <div class="destaque-slogan-seas1">{# <h2 class="heading-6">{% trans %}h3_2_head{%endtrans%}</h2>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <h1 class="heading-7">{% trans %}h3_2_sub_head{%endtrans%}</h1>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <p class="paragraph-5">{% trans %}h3_2_txt{%endtrans%}</p> #}
                            {# <a href="" target="_blank" class="boto-destaque-1 w-button">{% trans %}book_now{%endtrans%}</a> #}
                        </div>
                    </div>
                </div>

                <div class="slide-topo-3-entrada w-slide">
                    <div class="div-block-5 w-clearfix">
                        <div class="free-transport-ini-pt"></div>
                        <div class="destaque-slogan-seas1">{# <h1 class="heading-6">{% trans %}h3_3_head{%endtrans%}</h1>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <h1 class="heading-7">{% trans %}h3_2_sub_head{%endtrans%}</h1>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                <p class="paragraph-5">{% trans %}h3_3_txt{%endtrans%}</p> #}
                            {# <a href="" target="_blank" class="boto-destaque-1 w-button">{% trans %}book_now{%endtrans%}</a> #}
                        </div>
                    </div>
                </div>


            </div>
            <div class="left-arrow-2 w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="right-arrow-2 w-slider-arrow-right">
                <div class="w-icon-slider-right"></div>
            </div>
            <div class="slide-nav-2 w-slider-nav w-round"></div>
        </div>

        {#highlights________________________________________________________________________________________________________________________________________________________________#}
        <div class="nauticDrive-tours-highlights">

            <div class="nauticDrive-conteudo">
                <div class="w3-row-padding" style="margin-top:-48px">

                    {%for product in products %}
                        {% if  loop.index0 < 3 %}

                            <div class="w3-col l4 m12 s12" data-ix="new-interaction" style="padding-bottom:24px">

                                <div class="w3-white w3-card w3-border w3-round-large">
                                    <a href="{{path('tour', {id:product.id, text:'ultimate_tour'}) }}" style="text-decoration:none">
                                        {% set image = product.image|length > 0 ? product.image[0].images : 'https://experienceware.eu/uploads/products/no_prod.jpeg' %}
                                        <div class="img-destaque" class="w3-round-top-large" style="background-image:url({{image}})"></div>

                                        <div class="">

                                            <div class="w3-row-padding" style="height:142px!important">
                                                <div class="w3-col s12 txt-destaque">
                                                    <div class="titulo-tour-1" style="padding: 0px">{{product.title}}</div>
                                                </div>
                                                <div class="w3-col s12 w3-padding-small paragraph block-with-text">{{product.to_do}}</div>

                                            </div>
                                            <div class="w3-row w3-padding-small">
                                                <div class="w3-col l6 m6 book-now-novo w3-margin-bottom">
                                                    <div class="text-block-8">{% trans %}more_info{%endtrans%}</div>
                                                </div>
                                                <a href="{{url_api_key}}product?api_key={{exp_api_key}}&product={{product.id}}" target="_blank" class="w3-col l6 m6 book-now-novo w3-margin-bottom" style="text-decoration:none">
                                                    <div class="text-block-8">{% trans %}book_now{%endtrans%}</div>
                                                </a>
                                                <div class="w3-col l6 m6 s5 desdept w3-right-align">{% trans %}from{%endtrans%}</div>
                                                {% set price = product.price|length > 0 ? "%.2f"|format(product.price[0].price.amount/100) : '-/-' %}
                                                <div class="w3-col l6 m6 s7 euros-pt w3-left-align">€
                                                    {{price}}</div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}

                    {% endfor %}

                </div>

            </div>
        </div>

    </div>

    {#PRODUCTS SLIDER________________________________________________________________________________________________________________________________________________________________#}
    <div class="slideshowtours">
        <div class="slider-2 w-slider" data-animation="over" data-duration="1000" data-infinite="1">
            <div class="mask w-slider-mask">

                {% set imagelooper = 1 %}

                {%for product in products %}

                    {% set imagelooper = imagelooper +1 %}

                    {% set imagelooper = loop.index >= 7 ?  0 : false %}

                    <div class="slide-tour-{{loop.index}}-home w-slide">
                        <div class="div-block-7">
                            <h2 class="heading-8">{{product.title}}</h2>
                            <p class="paragraph-6 block-with-text">{{product.to_do}}</p>
                            <a href="{{path('tour', {id:product.id, text:'ultimate_tour'}) }}" class="button-slider-1 w-button">{%trans%}more_info{%endtrans%}</a>
                        </div>
                    </div>

                {% endfor %}

            </div>
            <div class="left-arrow w-slider-arrow-left">
                <div class="w-icon-slider-left"></div>
            </div>
            <div class="right-arrow w-slider-arrow-right">
                <div class="icon-2 w-icon-slider-right"></div>
            </div>
            <div class="w-slider-nav w-round"></div>
        </div>
    </div>

    {#ABOUT AND PRODUCTS________________________________________________________________________________________________________________________________________________________________#}
    <div
        class="nauticDrive-tours" id="nauticDrive-tours">

        {#aboutus________________________________________________________________________________________________________________________________________________________________#}
        <div class="txt-intro-tours">
            <h1 class="heading-4">NAUTICDRIVE</h1>
            <h3 class="heading-5">{% trans %}nauticDrive_head{%endtrans%}</h3>
            <p class="paragraph-4">{% trans %}nauticDrive_text{%endtrans%}</p>
        </div>

        {#products________________________________________________________________________________________________________________________________________________________________#}
        <div class="pag-tours">

            <div class="nauticDrive-conteudo-tours-1">

                <div class="w3-row-padding">

                    {%for product in products %}
                        {% if  loop.index0 > 3 and loop.index0 < 13 %}

                            <div class="w3-col l4 m6 s12" data-ix="new-interaction" style="padding-bottom:24px">
                                <div class="w3-white w3-card w3-border w3-round-large">
                                    <a href="{{path('tour', {id:product.id, text:'ultimate_tour'}) }}" style="text-decoration:none">
                                        {% set image = product.image|length > 0 ? product.image[0].images : 'https://experienceware.eu/uploads/products/no_prod.jpeg' %}
                                        <div class="img-destaque" class="w3-round-top-large" style="background-image:url({{image}})"></div>
                                        <div class="w3-row-padding" style="height:142px!important">
                                            <div class="w3-col s12 txt-destaque">
                                                <div class="titulo-tour-1" style="padding: 0px">{{product.title}}</div>
                                            </div>
                                            <div class="w3-col s12 w3-padding-small paragraph block-with-text">{{product.to_do}}</div>
                                        </div>
                                        <div class="w3-row w3-padding-small">
                                            <div class="w3-col l6 m6 book-now-novo w3-margin-bottom">
                                                <div class="text-block-8">{% trans %}more_info{%endtrans%}</div>
                                            </div>
                                            <a href="{{url_api_key}}product?api_key={{exp_api_key}}&product={{product.id}}" target="_blank" class="w3-col l6 m6 book-now-novo w3-margin-bottom" style="text-decoration:none">
                                                <div class="text-block-8">{% trans %}book_now{%endtrans%}</div>
                                            </a>
                                            <div class="w3-col l6 m6 s5 desdept w3-right-align">{% trans %}from{%endtrans%}</div>
                                            {% set price = product.price|length > 0 ? "%.2f"|format(product.price[0].price.amount/100) : '-/-' %}
                                            <div class="w3-col l6 m6 s7 euros-pt w3-left-align">€
                                                {{price}}</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        {#TESTEMONIALS________________________________________________________________________________________________________________________________________________________________#}
        <div class="testemonials-algarve">
            <div class="algarve-tours w-slider" data-animation="slide" data-autoplay="1" data-delay="5000" data-duration="900" data-infinite="1">
                <div class="w-slider-mask">
                    <div class="algarve-tours-test1 w-slide">
                        <div class="div-block-8">

                            <br><br><h3 class="heading-10">&quot;{% trans %}key_title{%endtrans%}&quot;</h3><br>
                            <p class="paragraph-7"><br>{% trans %}key_text{%endtrans%}</p>

                            <div class="div-block-9"></div>
                        </div>
                    </div>
                    <div class="algarve-tours-test2 w-slide">
                        <div class="div-block-8">

                            <br><br><h3 class="heading-10">&quot;{% trans %}focus_title{%endtrans%}&quot;</h3><br>
                            <p class="paragraph-7">{% trans %}focus_text{%endtrans%}</p>

                            <div class="div-block-9"></div>
                        </div>
                    </div>
                    <div class="algarve-tours-test2 w-slide">
                        <div class="div-block-8">

                            <br><br><h3 class="heading-10">&quot;{% trans %}ambition_title{%endtrans%}&quot;</h3><br>
                            <p class="paragraph-7"><br>{% trans %}ambition_text{%endtrans%}</p>

                            <div class="div-block-9"></div>
                        </div>
                    </div>
                </div>
                <div class="w-slider-arrow-left">
                    <div class="w-icon-slider-left"></div>
                </div>
                <div class="w-slider-arrow-right">
                    <div class="w-icon-slider-right"></div>
                </div>
                <div class="slide-nav-3 w-slider-nav w-round"></div>
            </div>
        </div>

        {#GOOGLE MAPS________________________________________________________________________________________________________________________________________________________________#}
        <div id="themap" class="map" data-company-name='{{company.name}}' data-coords="{{company.getCoordsGoogleMaps}}"></div>

        {#CONTACT FORM________________________________________________________________________________________________________________________________________________________________#}
        <div class="nauticDrive-form-contact" id="contact">
            <div class="nauticDrive-tours-wrapper-form w-clearfix">

                <div class="txt-contacto">
                    <h4 class="heading-2">{%trans%}contact_us{%endtrans%}</h4>
                    <h4 class="heading-3">{%trans%}here_to_help{%endtrans%}</h4>
                    <p class="paragraph-3">{%trans%}any_doubts{%endtrans%}</p>
                </div>

                <div class="form">
                    <form id="formContact">
                        <label class="w3-left" style="text-transform:uppercase">{%trans%}name{%endtrans%}</label>
                        <label class="contact_name w3-text-red w3-hide w3-right"></label>
                        <input type="text" class="text-field-2 w-input" id="contact_name" name="contact_name" placeholder="{%trans%}name{%endtrans%}">

                        <label class="w3-left" style="text-transform: uppercase">{%trans%}email{%endtrans%}</label>
                        <label class="contact_email w3-text-red w3-hide w3-right"></label>
                        <input type="text" class="text-field-2 w-input" id="contact_email" name="contact_email" placeholder="{%trans%}Email{%endtrans%}">

                        <label class="w3-left" style="text-transform: uppercase">{%trans%}telephone{%endtrans%}</label>
                        <label class="contact_telephone w3-text-red w3-hide w3-right"></label>
                        <input type="text" class="text-field-2 w-input" id="contact_telephone" name="contact_telephone" placeholder="{%trans%}telephone{%endtrans%}">

                        <label class="w3-left" for="contact_message" style="text-transform: capitalize">{%trans%}message{%endtrans%}</label>
                        <label class="contact_message w3-text-red w3-hide w3-right"></label>
                        <textarea class="w3-large w3-input w3-round w3-border" rows="5" id="contact_message" name="contact_message" placeholder="{%trans%}message{%endtrans%}"></textarea>

                        <div class="w3-padding book-now-novo ">
                            <span class="text-block-8" id="contact-submit" onclick="formContact()">{%trans%}submit{%endtrans%}</span>
                        </div>

                        <div class="w3-padding-large pull-left">
                            <label class="contact_success w3-text-green w3-hide w3-left"></label>
                        </div>

                    </form>
                </div>
            </div>
        </div>

        {#RODAPE________________________________________________________________________________________________________________________________________________________________#}
        <div class="rodape-nauticDrive">

            <div class="rodape-info">
                <div class="rodape-esq w-clearfix">
                    <div class="logo-rodape"></div>
                    <div class="txt-info-rodape">
                        <div class="text-block-2">Praia da Rocha Baixinha (Falésia)  . Albufeira</div>
                        <div class="text-block-2">{{company.getAddress}}
                            .
                            {{company.getPCode}}
                            {{company.getCity}}</div>
                        <div class="text-block-3">
                            +351 968 767 638 | +351 968 469 784</div>
                        <div class="text-block-4">Nauticdrive.fotos@gmail.com
                            <br>Nauticdrive.reservas@gmail.com<br>
                            info@nauticdrive-algarve.com</div>
                    </div>
                    {# <div class="rodape-logo-atlantik-morning w-clearfix">
                                                                                
                                                                                                                <div class="info-adicional"></div>
                                                                                                            </div> #}
                </div>
                <div class="rodape-dir">
                    <div class="info-boarding"></div>
                </div>
            </div>

            <div class="icones-social">
                <div class="text-block-19">{%trans%}follow_social_network{%endtrans%}</div>

                {% if company.linkFacebookActive == true %}
                    <div class="icone-rodape1 w-inline-block" onclick="openWindow('{{company.getLinkFacebook}}')"></div>
                {%endif %}
                {% if company.linkTripadvisorActive  == true %}
                    <div class="icone-rodape2 w-inline-block" onclick="openWindow('{{company.getLinkTripAdvisor}}')"></div>
                {%endif %}
                {% if company.linkTwitterActive  == true %}
                    <div class="icone-rodape5 w-inline-block" onclick="openWindow('{{company.getLinkTwitter}}')"></div>
                {%endif %}
                {% if company.linkInstagramActive == true %}
                    <div class="icone-rodape3 w-inline-block" onclick="openWindow('{{company.getLinkInstagram}}')"></div>
                {%endif %}
                {% if company.linkLinkenActive == true %}
                    <div class="icone-rodape6 w-inline-block" onclick="openWindow('{{company.getLinkLinken}}')"></div>
                {%endif %}

            </div>

            <div class="rodape-dir-local w-clearfix">
                <div class="text-block-7">{{company.name}}
                    <script>
                        document.write(new Date().getFullYear())
                    </script>
                </div>
            </div>

        </div>

        {% block javascripts %}
            <script src="https://maps.googleapis.com/maps/api/js?key={{company.GoogleMapsApiKey}}"></script>
            <script src='js/googleMaps.js'></script>
            <script src='js/main.js'></script>
            <script src='js/formContact.js'></script>
            <script src="js/webflow.js" type="text/javascript">
                {% endblock %}
                                                
                                                {% endblock %}
