<meta name="viewport" content="width=device-width, initial-scale=1">

<body style="padding:64px 8px;background:#EEE;margin:0px;font-family:Lato,sans-serif">
<div style="background: #fdf5e6;border: 1px solid #999;max-width:500px; margin:0 auto">
<div style="padding:12px 8px">	
<img src='{{ logo }}' width=80 style="margin-top: -52px">
<h4> Hello {{payer_name}}, we will get back to you as soon as possible.</h4>
<h5> {% trans%} private_detail.gift_voucher.text_list.payer.title {% endtrans%}:</h5>
<hr>
<p>
Name: {{payer_name}} <br>
Surname: {{payer_surname}} <br>
Email: {{payer_email}} <br>
Telephone: {{payer_telephone}} <br>
</p>
<h5>{% trans %}private_detail.gift_voucher.text_list.destiny.title{% endtrans %}:</h5>
<hr>
<p>
Name: {{destiny_name}} <br>
Surname: {{destiny_surname}} <br>
Email: {{destiny_email}} <br>
Telephone: {{destiny_telephone}} <br>
</p>
<h5>{% trans %}private_detail.gift_voucher.text_list.payer.experiences_title{% endtrans %}:</h5>
<hr>
<p>
Number of people: {{number_persons}}<br>
Tour: {{experience}}<br>
Observations: {{observations}}<br>
</p>
<br>
<p>
Thank you, Seasiren Tours.
</p>
</div>
</div>

</body>