<meta name="viewport" content="width=device-width, initial-scale=1">

<body style="padding:64px 8px;background:#EEE;margin:0px;font-family:Lato,sans-serif">
<div style="background: #fdf5e6;border: 1px solid #999;max-width:500px; margin:0 auto">
<div style="padding:12px 8px">	
<img src='{{ logo }}' width=80 style="margin-top: -52px">
<h4>Olá {{name}}, veio por este meio pedir informação.</h4>
Detalhes Pedido de Informação:<br>
<hr>
<p>
<b>Nome</b>: {{ name }}<br>
<b>Email</b>: {{ email }}<br>
<b>Telefone</b>: {{ telephone }}<br>
<b>Mensagem</b>: {{ message }}<br>
<hr>
</p>
<p>
Obrigado, {{company_name}}.
</p>
</div>
</div>

</body>