<meta name="viewport" content="width=device-width, initial-scale=1">
<body style="padding:64px 8px;background:#EEE;margin:0px;font-family:Lato,sans-serif">
<div style="background: #fdf5e6;border: 1px solid #999;max-width:500px; margin:0 auto">
<div style="padding:12px 8px">	
<h4>Hello {{ username }}<br><br> 
Welcome to NauticDrive, we send you the photos of your experience.
{% set experationDate = 'now'|date_modify("+8 day") %}
The photos will be available until 	{{ experationDate|date('d/m/Y') }}.<br>
{{link|raw}}<br><br><br>

Make your comment on 
<a target="_blank" href="https://www.tripadvisor.com/UserReviewEdit-g189112-d13795619-Nauticdrive-Albufeira_Faro_District_Algarve.html">tripadvisor</a>.<br>
We are at your disposal for new experiences.<br>
Visit us at <a target="_blank" href="https://www.nauticdrive-algarve.com">nauticdrive-algarve.com</a>.<br>
Team {{ company_name }}.<br>
<img src='{{ logo }}'  style=" width:80px;">
</h4>
</div>
</div>
</body>