<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
		<!--Gallery - Nano Gallery 2-->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<link href="https://unpkg.com/nanogallery2/dist/css/nanogallery2.min.css" rel="stylesheet" type="text/css">
		<script type="text/javascript" src="https://unpkg.com/nanogallery2/dist/jquery.nanogallery2.min.js"></script>
		
		<link href="{{ asset('assets/css/style.css') }}" rel="stylesheet" />
		<link href="{{ asset('assets/css/font-awesome.min.css') }}" rel="stylesheet" />
        <title>{% block title %}#1 Algarve Boat &amp; Cave Tours 2019 | Seasiren Tours{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
		<div class="w3-overlay"></div>
		{% include 'home/menu.html.twig' %}
		<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
			{% block content %}{% endblock %}
		</div>
		{% if page == 'home' %}
			<iframe style="min-width:100%;height:350px;" src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d12722.846165928744!2d-8.5344683!3d37.1357772!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d37.1347927!2d-8.5351366!5e0!3m2!1sen!2spt!4v1551356098530" frameborder="0" style="border:0" allowfullscreen></iframe>
			<div class="w3-content" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
				<div class="w3-row">
					<div class="w3-col l12 m12 s12">
						<div class="w3-padding w3-center">
							<h1>{{pageInfo.contacts.title}}</h1>
						</div>
					</div>
					<div class="w3-col l12 m12 s12">
						<div class="w3-card-4">
							<div class="w3-padding-large">
								<div>
									<p>{{pageInfo.contacts.text_list.text_1}}</p>
								</div>
								<div>
									<p>{{pageInfo.contacts.text_list.text_2}}</p>
								</div>
								<div>
									<p>{{pageInfo.contacts.text_list.text_3}}</p>
								</div>
							</div>
						</div>
					</div>
					<form id="formContact">
						<div class="w3-col l12 m12 s12">
							<div class="w3-padding">
								<h4>{{pageInfo.contacts.sub_title}}</h4>
							</div>
							<div class="w3-card-4">	
								<div class="w3-padding-large">
									<div>
										<label style="text-transform: capitalize;" for="contact_name">{{pageInfo.contacts.form.name}}</label>
										<input type="text" id="contact_name" name="contact_name" placeholder="{{pageInfo.contacts.form.name}}"><label class="contact_name w3-text-red w3-hide w3-right"></label>
									</div>
									<div>
										<label style="text-transform: capitalize;" for="contact_email">{{pageInfo.contacts.form.email}}</label><label class="contact_email w3-text-red w3-hide w3-right"></label>
										<input type="text" id="contact_email" name="contact_email" placeholder="{{pageInfo.contacts.form.email}}">
									</div>
									<div>
										<label style="text-transform: capitalize;" for="contact_telephone">{{pageInfo.contacts.form.telephone}}</label><label class="contact_telephone w3-text-red w3-hide w3-right"></label>
										<input type="text" id="contact_telephone" name="contact_telephone" placeholder="{{pageInfo.contacts.form.telephone}}">
									</div>
									<div>
										<label style="text-transform: capitalize;" for="contact_message">{{pageInfo.contacts.form.message}}</label><label class="contact_message w3-text-red w3-hide w3-right"></label>
										<textarea class="w3-large w3-input w3-round w3-border" rows="5"id="contact_message" name="contact_message" placeholder="{{pageInfo.contacts.form.message}}"></textarea>
									</div>
								</div>
							</div>
							<div class="w3-padding-large pull-left">	
								<label class="contact_success w3-text-green w3-hide w3-left"></label>
							</div>
							<div class="w3-padding pull-right">
								<span onclick="formContact()" class="w3-btn w3-green">{{pageInfo.contacts.form.send}}</span>
							</div>
						</div>
					</form>
				</div>
			</div>
		{% endif %}
	</body>
	{% include 'home/footer.html.twig' %}
</html>